# Server Configuration
PORT=5000
JWT_SECRET=your-supermarket-pos-secret-key-2024

# MEGA Cloud Backup Configuration
BACKUP_ENABLED=false
MEGA_EMAIL=ha01k5295@gmail.com
MEGA_PASSWORD=@Haroon5295

# Printer Configuration
PRINTER_ENABLED=false
PRINTER_INTERFACE=usb://0x04b8/0x0202

# Database Configuration
DB_PATH=./db/pos.db

# Company Information
COMPANY_NAME=Supermarket POS
COMPANY_ADDRESS=121 Sector C Street 6 Mardan
COMPANY_PHONE=+92 3119643710
